---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>OSU Course Dependency Visualizer</title>
  </head>
  <body>
    <div id="graph"></div>

    <script>
      import ForceGraph from "force-graph";

      fetch("/courses.json")
        .then((res) => res.json())
        .then((data) => {
          const graphElement = document.getElementById("graph");
          if (!graphElement) throw new Error("No graph element found");

          ForceGraph()(graphElement)
            .graphData(data)
            .nodeId("id")
            .nodeVal("val")
            .nodeLabel("id")
            .nodeAutoColorBy("group")
            .linkSource("source")
            .linkTarget("target");
        });
    </script>
  </body>
</html>
